{% extends 'bootstrap4.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block menuhaut %}
    {% for clef, valeur in suitemenu %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('rubriques',{titre: valeur} ) }}">{{ clef }}</a>
    </li>
    {% endfor %}
{% endblock %}


