{% extends 'bootstrap4.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block menuhaut %}
    {% for item in suitemenu %}
    <li class="nav-item">
        <a class="nav-link" href="?rubrique={{ item.slug }}">{{ item.titre }}</a>
    </li>
    {% endfor %}
{% endblock %}


