{% extends 'bootstrap4.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block menuhaut %}
    <li class="nav-item">
        <a class="nav-link" href="#">autre chose</a>
    </li>
{% endblock %}


